ion-content {
  --background: #0f2027;
  --background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
}

ion-toolbar {
  --background: transparent;
  padding-top: 10px;
}

.section-title {
  color: white;
  margin-left: 20px;
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

.hourly-container {
  margin-top: 10px;
}

.hourly-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px 16px;
  gap: 15px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.hourly-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 12px;
  min-width: 60px;
  color: white;

  img {
    width: 30px;
    height: 30px;
  }

  span {
    font-size: 0.9rem;
  }
}